[2019-02-20 20:23] vmayoral opened #3 "Issues with robot_state submodule, master branch not compiling"
@anasarrak, please have a look at this:
[code]

I'm working in OS X. Cleaned up completely and re-built. Same issues.

[2019-02-20 20:28] vmayoral commented on #3
Added the OS X label, I guess this only applies there with `clang`.

[2019-02-20 20:44] vmayoral commented on #3
Seems to be fixed with https://github.com/AcutronicRobotics/moveit2/commit/fe274ec466c2562f48264aa569bd9033817798d7

[2019-02-20 20:44] #3 closed

[2019-02-20 21:18] vmayoral opened #4 "CI multi-OS (enable OS X also)"
Motivated by #3 I'm considering whether it'll make sense to at least have CI also enabled for OS X.

I quickly checked and it seems it's feasible https://stackoverflow.com/questions/19818336/how-to-make-travis-ci-test-package-for-linux-os-x-windows.

[2019-02-24 09:28] vmayoral commented on #4
@LanderU, I saw https://github.com/AcutronicRobotics/moveit2/tree/ci-new, is this branch including OS X support?

I just fixed master branch with some OS X-related errors. See https://github.com/AcutronicRobotics/moveit2/commit/c33b95cc53501ca4fb2c2e6bbfe243ee19935ec0

[2019-02-24 09:33] LanderU commented on #4
Not yet, I'm working to have minimal version on Linux working first. I'm reviewing/porting all the stuff. When I finish with this I'll include the OS X support as well.

[2019-02-24 10:11] vmayoral commented on #4
Cool, many thanks.

[2019-02-26 21:59] vmayoral opened #13 "Unit tests in moveit2 failing"
Failing when enabling units tests of robot_model submodule of [moveit_core](https://github.com/AcutronicRobotics/moveit2/blob/master/moveit_core/robot_model/CMakeLists.txt#L25-L32):

[code]

[2019-02-27 14:27] LanderU commented on #4
CI enabled for OS X on master.

[2019-02-27 14:28] #4 closed

[2019-03-03 20:20] vmayoral opened #19 "Isometry3d"
@anasarrak, let's go back to Isometry3d please. You have an example at the transforms submodule of moveit_core https://github.com/ros-planning/moveit2/pull/12/commits/94ebbcc191db16d6e3fae760d2d8b8062517d53f.

This follows from https://github.com/ros2/geometry2/pull/93 which changes geometry2.
**Make sure you pull the `master` branch of geometry2**.

-----

@LanderU, can you please update CI so th

[2019-03-03 20:36] LanderU commented on #19
Is this enough? https://github.com/AcutronicRobotics/moveit2/commit/de4cf96bd961382be7a65f58e5eb6a7e3c894ecf or shall I fetch the master of ROS2?

[2019-03-03 20:39] vmayoral commented on #19
That's perfect. Thanks.

[2019-03-03 20:41] vmayoral commented on #19
@anasarrak, we need to change Isometry3d everywhere. Can you help with it and start from the beginning again ensuring that modules compile while making the changes?

I'd start from `master` branch, comment https://github.com/AcutronicRobotics/moveit2/blob/master/moveit_core/CMakeLists.txt#L178-L204 and go submodule-by-submodule ensuring that things make sense.

[2019-03-03 22:48] vmayoral commented on #19
@anasarrak fixed all packages except the ones pending of the 3 PRs, please review those three yourself.

[2019-03-03 22:57] vmayoral commented on #19
For doing so, please go change by change, if you rebase/merge stuff you will end up modifying things in robot_base which you don't want to (unless critically needed).

[2019-03-03 23:08] vmayoral commented on #19
Things are failing at CI https://travis-ci.org/AcutronicRobotics/moveit2/builds/501241372?utm_source=github_status&utm_medium=notification, maybe the CI isn't properly configured? @anasarrak please validate it tomorrow yourself including the latest changes from other repos described above.

[2019-03-04 10:49] anasarrak commented on #19
Problems while compiling master:
[code]
This error is the same as the one that we were having with the Isometry3d, the way (not the correct way) to solve it, was to change it to Affine3d.

Exactly the line where it's crashing:
[code]
I have traied to compare the ros1 and ros2 geometry2 transformToEigen functions, but there is no differences.

Testing if these changes can fix the problem https://gi

[2019-03-04 11:27] anasarrak commented on #19
The problem shouldn't be the geometry2. Focusing more on the transforms since is the one that is causing the problem.

[2019-03-04 11:35] anasarrak commented on #19
[code]

The ones that are failing are **transforms, robot_state and robot_trajectory** (or at least this way it compiles)

[2019-03-04 12:04] anasarrak commented on #19
Similar case for what they do for the [testing](https://github.com/ros2/geometry2/blob/aaae4cf046e44787be12e4f5209cef34a8123a39/tf2_eigen/test/tf2_eigen-test.cpp#L109) on the t2_eigen
[code]

[2019-03-04 12:25] anasarrak commented on #19
A bit strange behavior, it's supposed that the transformToEigen function to get transformStamped and Transform msgs, but if I send just a transform msg like this:
[code]
It does't detect it.
[code]

On the documentation it says that it can be used on both cases

Eigen::Isometry3d | transformToEigen (const geometry_msgs::Transform &t)
_Convert a timestamped transform to the equivalent Eigen data ty

[2019-03-04 13:35] anasarrak commented on #19
On the 3 cases is breaking for the same transformation, and I noticed that the changes were made by us (since the transform was not being get and we had to change it to transformstamped).

**Robot_state:**
https://github.com/AcutronicRobotics/moveit2/commit/2559cdc50da614295a46921525aed70a94dc10e1#diff-e03d4d985fd8f5e9565368bddcac8d96

**robot_state**:
https://github.com/AcutronicRobotics/moveit2/

[2019-03-04 15:54] anasarrak commented on #19
I dont know if the problem is my ws, I'll prepare a docker container to test it while I continue exploring the problem.

[code]
It's sourcing another ros2_ws, It can be that the same happens for the dependencies...

[2019-03-04 16:04] vmayoral commented on #19
No need to prepare a docker container. The CI container works.

El El lun, 4 mar 2019 a las 16:54, anasarrak <notifications@github.com>
escribió:

[2019-03-04 16:23] anasarrak commented on #19
Solved the problem, ros2 automatically sources tf2_eigen, so, sourcing again our external dependencies doesn't work, it stays with the preview config. I have changed the ros2_ws/isntall/include/tf2_eigen/tf2_eigen.h to the changes that you've  made to make it work with Isometry3d, and now it seems to compile. The CI is not passing because of a similar problem.

[2019-03-04 17:54] LanderU commented on #19
CI working again: https://travis-ci.org/AcutronicRobotics/moveit2/builds/501604543

[2019-03-04 20:47] vmayoral commented on #19
Well done guys, closing here then.

[2019-03-04 20:47] #19 closed

[2019-03-05 15:35] vmayoral opened #24 "OS X, issues with orocos_kdl"
[code]

[2019-03-05 15:38] vmayoral commented on #24
Deleting the corresponding install folder of the package did it:
[code]

[2019-03-05 15:38] #24 closed

[2019-03-06 15:31] davetcoleman commented on #13
@mlautman could you help debug this failing test?

[2019-03-09 06:35] vmayoral opened #27 "CI failing with image_common"
@LanderU according to https://travis-ci.org/AcutronicRobotics/moveit2/jobs/503697295 we seem to have an issue with `image_common`, right? I guess this comes from a requirement related to https://github.com/AcutronicRobotics/moveit2/pull/26?

[2019-03-09 06:37] LanderU commented on #27
Yes, I'm working on it.

[2019-03-09 13:00] LanderU commented on #27
Linux master branch: https://travis-ci.org/AcutronicRobotics/moveit2/jobs/503995410

[2019-03-09 13:19] LanderU commented on #27
OS X master branch: https://travis-ci.org/AcutronicRobotics/moveit2/jobs/503995411

[2019-03-09 13:20] LanderU commented on #27
Fixed on master: https://travis-ci.org/AcutronicRobotics/moveit2/builds/503995409, I'm going to fix it on perception branch as well.

[2019-03-09 17:23] LanderU commented on #27
Fixed on perception for Linux: https://travis-ci.org/AcutronicRobotics/moveit2/jobs/504057073

[2019-03-09 19:25] LanderU commented on #27
Fixed on perception for OS X: https://travis-ci.org/AcutronicRobotics/moveit2/jobs/504079320

[2019-03-09 19:37] LanderU commented on #27
Everything working, perception branch status: https://travis-ci.org/AcutronicRobotics/moveit2/builds/504079318

[2019-03-09 19:37] #27 closed

[2019-03-10 09:47] vmayoral commented on #27
Thanks a lot @LanderU

[2019-03-10 18:08] vmayoral commented on #13
I've been looking at the unit tests of other submodules and I've been getting somewhat similar errors so I may have something wrong in my local setup (working with OS X).

I re-enabled unit tests for this module in a different branch, results should come up at https://travis-ci.org/AcutronicRobotics/moveit2/builds/504368925?utm_source=github_status&utm_medium=notification

@mlautman, any chance yo

[2019-03-11 17:36] vmayoral opened #28 "Use ament_clang_format modules"
https://github.com/ament/ament_lint/blob/master/ament_cmake_clang_format/doc/index.rst

[2019-03-15 15:20] mlautman commented on #13
Looking into it

[2019-03-15 19:00] vmayoral opened #30 "OS X: Could NOT find OpenMP_C"
@LanderU, I'm going pretty crazy while trying to compile `moveit_ros_perception` in OS X, it goes as follows:
[code]

Did you encountered this? If so, how did you address it?

[2019-03-15 20:12] LanderU commented on #30
[code]

[2019-03-15 20:12] vmayoral commented on #30
Nop, done that already.

El El vie, 15 mar 2019 a las 21:12, Lander Usategui San Juan <
notifications@github.com> escribió:

[2019-03-15 20:15] LanderU commented on #30
Which branch are you trying to compile?

[2019-03-15 20:17] LanderU commented on #30
Checking my commits: https://github.com/AcutronicRobotics/moveit2/pull/26/commits/0f68ad24cdd0a7f9c9427030d1254743decdba6a

[2019-03-15 20:17] vmayoral commented on #30
Master

El El vie, 15 mar 2019 a las 21:15, Lander Usategui San Juan <
notifications@github.com> escribió:

[2019-03-15 20:23] LanderU commented on #30
I just have triggered a build on that branch. If doesn't compile I'll have a look.

https://travis-ci.org/AcutronicRobotics/moveit2/jobs/506958793

[2019-03-15 20:34] vmayoral commented on #30
Could it be clang-related?

El El vie, 15 mar 2019 a las 21:23, Lander Usategui San Juan <
notifications@github.com> escribió:

[2019-03-15 20:37] LanderU commented on #30
Could be, and CI failed because of the actions. I'll review this tomorrow.

[2019-03-16 17:39] vmayoral commented on #30
Managed to get past this error by:
[code]

Source of discussion: https://github.com/Microsoft/LightGBM/issues/1898#issuecomment-455244604. It seems that Mojave is having issues.

[2019-03-16 17:39] #30 closed

[2019-03-21 22:47] vmayoral opened #32 "moveit_ros_perception issues and missing a proper port"
In OS X Mojave:

[code]

[2019-03-21 22:47] vmayoral commented on #32
`moveit_ros_perception` doesn't seem to be properly ported at all after a quick review.

[2019-03-21 22:53] vmayoral commented on #32
[code]
After https://github.com/AcutronicRobotics/moveit2/commit/90e401a36e1db6059c5e5975faff6c40249c3b48.

[2019-03-22 00:21] vmayoral commented on #32
That got fixed by using `ament_target_dependencies` (or at least other issues appeared) which probably means that `ament_target_dependencies`
After fa1ae5548df5fea1c78ed77b6c6a12aa80c923bb got the following again:
[code]

Need to review this more carefully.

[2019-03-23 23:29] vmayoral commented on #32
Build of `moveit_occupancy_map_server` failing in OS X as:
[code]

Bypassed by 8213e0fb47bbf11000ed263739071e1b0f58bf5c for now. Needs more work.

[2019-03-24 00:55] vmayoral commented on #13
Minor improvement after [reviewing dependencies](https://github.com/AcutronicRobotics/moveit2/commit/caa10a04305e11cf83322ddd9196f04511542863) but still obtaining an error:
[code]

[2019-03-24 10:37] vmayoral commented on #13
Something similar happens with the unit tests from other modules (e.g. `robot_state` submodule of `moveit_core`).

@dirk-thomas, @wjwwood it seems we're blocked here, any chance you can have a look at https://github.com/AcutronicRobotics/moveit2/blob/master/moveit_core/robot_model/CMakeLists.txt#L26 and advice whether there's something we're missing (refer to the previous comment for the error we'

[2019-03-24 11:25] vmayoral opened #33 "MoveIt 2 logo"
For upcoming announcements, we should use a different logo than the MoveIt! one. @davetcoleman and @mlautman, feel free to add your views and comment on this.
To accelerate this, @izamalloa, can you please slightly modify

![](https://camo.githubusercontent.com/10f367f605e5125f34778adfdc5ec47f70986358/687474703a2f2f6d6f766569742e726f732e6f72672f6173736574732f696d616765732f6d6f76656974325f6c6f676f5

[2019-03-24 11:37] vmayoral opened #34 "CI syncing"
@LanderU, there seems to be good progress at https://github.com/ros-planning/moveit_ci and this can certainly complement our simply CI for validating that commits build across our target OSs (OS X and Linux).

Can you please have a look, when possible to https://github.com/ros-planning/moveit_ci#running-locally-for-testing and report here your views on this? It'd be great to get aligned with the M

[2019-03-24 11:39] vmayoral commented on #34
Note they're using the https://github.com/ros-planning/moveit2/tree/moveit2-ci branch instead.

[2019-03-24 11:40] LanderU commented on #34
Alright, I'll have a look.

[2019-03-24 19:23] LanderU commented on #34
[code]

[2019-03-24 20:08] LanderU commented on #34
It seems that some of the packages are not ready for rosdep yet:

[code]

[2019-03-25 07:58] vmayoral commented on #33
@lalzolak please coordinate this.

[2019-03-25 09:00] izamalloa commented on #33
Here some prototypes. Once we decide the line to follow, I **will improve it** and create different types of images.
![image](https://user-images.githubusercontent.com/10087132/54906817-607fa980-4ee4-11e9-9883-74b227bcc9bd.png)

[2019-03-25 10:34] vmayoral commented on #33
I'd say we go for the second one @izamalloa but you're the design expert so feel free to make the final choice yourself. Also, can you please ensure that the colours are the exact same ones as the ones in the existing logo (I see the blue color is different). Refer to https://moveit.ros.org/ if you need to review them.

Can you put all the design files in https://drive.google.com/drive/u/2/folders

[2019-03-25 12:40] izamalloa commented on #33
Uploaded the [logo in different formats](https://drive.google.com/open?id=1n506AcayaQKrdhpnu_-CfORDjWSGsAlq).

[2019-03-25 14:03] vmayoral commented on #33
Great, thanks a lot @izamalloa.

[2019-03-25 14:03] #33 closed

[2019-03-25 15:11] davetcoleman commented on #13
I think @mlautman 's recent moveit1 fix will help this:
https://github.com/ros-planning/moveit/pull/1409

[2019-03-25 16:03] dirk-thomas commented on #13
According to the error message you are missing some libraries to provide the missing symbols. Looking at the commented CMake code you seem to pass wrong arguments to `ament_target_dependencies`. Its pdocblock](https://github.com/ament/ament_cmake/blob/122f283ab156c159194afce3d932f96327d28ff1/ament_cmake_target_dependencies/cmake/ament_target_dependencies.cmake#L15-L30) states that it takes the tar

[2019-03-26 11:50] robroboto commented on #33
Hi all, we will be releasing the new official MoveIt logos shortly and publishing them to the MoveIt website. Stay tuned :)

[2019-03-26 12:16] vmayoral commented on #33
Thanks Rob, let us know when available.

El El mar, 26 mar 2019 a las 12:50, Rob Coleman <notifications@github.com>
escribió:

[2019-03-27 13:33] robroboto commented on #33
Hi all, I've uploaded all the new logos here in the short term: https://drive.google.com/drive/folders/1iOpbikPiZw3ZmjHT42fphujMKzcDWvGk?usp=sharing

We'll add to the MoveIt website in the near future as there are several ongoing website sprints ongoing at the moment.

Thanks!

Rob

[2019-03-30 12:40] vmayoral commented on #13
Thanks @dirk-thomas, https://github.com/AcutronicRobotics/moveit2/commit/e0dca76edbf906a56d6d0a492f07a124dc79c03e addressed some of the linking issues but still failing:

[code]

@davetcoleman and @mlautman, I tried fetching the changes from @mlautman patch at https://github.com/AcutronicRobotics/moveit2/commit/e0dca76edbf906a56d6d0a492f07a124dc79c03e but the result is the one above. Reviewing the

[2019-03-30 22:00] vmayoral commented on #13
Re-tried again @mlautman's changes more directly https://github.com/AcutronicRobotics/moveit2/commit/e841cafa06443a36e364ee2954eb22efa3af241f

Similar result:
[code]

There's some weird issue with `moveit_test_utils`.

[2019-03-31 17:54] vmayoral commented on #13
Connected to https://github.com/ros-planning/moveit2/pull/68, still unable to get the right symbols.

[2019-04-01 15:39] vmayoral commented on #13
ping @mlautman and @davetcoleman, can you please help with this?

[2019-04-01 16:59] #32 closed

[2019-04-03 00:57] mlautman commented on #13
@vmayoral Can you send over some instructions to reproduce your setup so that we can help you debug this?

[2019-04-04 08:45] vmayoral commented on #13
@mlautman https://acutronicrobotics.com/docs/products/robots/mara/moveit2/install/ubuntu should do for getting the environment set up. Then simply uncomment https://github.com/AcutronicRobotics/moveit2/blob/master/moveit_core/robot_model/CMakeLists.txt#L31-L52 and `colcon build --packages-select moveit_core`. Let me know if that doesn't work and you have issues reproducing the error.

[2019-04-05 12:34] #28 closed

[2019-04-06 14:03] vmayoral commented on #13
Already pinged the PickNik guys on this (@mlautman and @davetcoleman) but we together, seem to be in a stalemate.

@dirk-thomas and @wjwwood, sorry to bother, any chance you have some input about `moveit_test_utils` as we're currently porting it https://github.com/AcutronicRobotics/moveit2/blob/master/moveit_core/utils/CMakeLists.txt?

[2019-04-06 15:57] vmayoral commented on #34
Looking more closely into https://github.com/ros-planning/moveit_ci/tree/ros2:
- We'll need to figure out how to add OS X to their existing setup https://github.com/ros-planning/moveit2/blob/master/.travis.yml
  - [Their .travis.yaml](https://github.com/ros-planning/moveit2/blob/master/.travis.yml)
  - [Ours](https://github.com/AcutronicRobotics/moveit2/blob/master/.travis.yml)
- What our CI does

[2019-04-07 00:37] vmayoral commented on #34
Stumbled repeatedly while enabling any moveit "real" package (e.g moveit_core):

[code]
(e.g. https://travis-ci.org/AcutronicRobotics/moveit2/builds/516620511)

Issues seems to be in the docker image of moveit https://hub.docker.com/r/moveit/moveit2/dockerfile

[2019-04-07 00:43] vmayoral commented on #34
@LanderU, can you please build at https://hub.docker.com/u/acutronicrobotics our docker images to accelerate the process (https://github.com/AcutronicRobotics/moveit2)?

**Edit**: it'd be great if we could set also hooks so that Dockerhub builds them automatically as well.

[2019-04-07 07:08] LanderU commented on #34
Edit: it'd be great if we could set also hooks so that Dockerhub builds them automatically as well.

WIP

[2019-04-07 07:13] LanderU commented on #34
This is no true at all, I set Ubuntu Bionic but the truth is travis only have support for Xenial.
https://docs.travis-ci.com/user/reference/overview/#virtualization-environments

AFAIK this is not possible, there is no docker OS X images, this is why we're running a native machine in travis to build the OS X work space.

[2019-04-07 07:34] vmayoral commented on #34
https://docs.travis-ci.com/user/reference/overview/#virtualization-environments

That's right, my bad here.

No, here you misunderstood me. I mean, using the Docker container (the Linux container) from OS X to build unit tests. This is a WIP i'm almost there.

This is great, it's what I need. It'd be also great to get the credentials of this account, please send them to me privately so that we can

[2019-04-07 07:36] LanderU commented on #34
That's fantastic, sorry.

Sure!

[2019-04-07 14:17] vmayoral commented on #34
Merged https://github.com/AcutronicRobotics/moveit2/pull/43

[2019-04-07 15:43] vmayoral commented on #34
Still failing the tests for some weird matter (though I fixed the issue locally with urdfdom_py, looking into it again)

[2019-04-08 07:41] vmayoral commented on #13
Updated the title, this happens across packages in moveit2 codebase. Need further assistance to continue porting tests.

[2019-04-08 07:47] vmayoral commented on #34
Process finished and CI's have been aligned. An attempt to integrate our efforts upstream was submitted to https://github.com/ros-planning/moveit_ci/pull/56.

[2019-04-08 07:47] #34 closed

[2019-04-08 17:18] dirk-thomas commented on #13
I was unable to simply clone and build this repo in a workspace successfully. Therefore I can only describe what might be causing your problem.

* the test failing to link is in `moveit_core/robot_model/CMakeLists.txt`
* the symbol `moveit::core::RobotModelBuilder::addVirtualJoint` isn't found during linking
* the symbol is defined in `moveit_core/utils/src/robot_model_test_utils.cpp`
* which is p

[2019-04-08 18:14] vmayoral commented on #13
Thanks @dirk-thomas for the input, let me process all of that and retry it once again. In case I fail, I'll make sure to provide an environment that easily reproduces our current problem.

[2019-04-08 18:24] vmayoral commented on #13
Note to self: take into account https://travis-ci.org/AcutronicRobotics/moveit2/builds/517131210#L1859

[2019-04-13 14:41] vmayoral opened #48 "CI broken"
It appears the CI is broken in master for OS X:
[code]

And also in Linux https://travis-ci.org/AcutronicRobotics/moveit2/builds/519581189#L2586

[2019-04-13 14:49] vmayoral opened #49 "Docker image not building as part of CI"
@LanderU, Docker image isn't building anymore. Can you please help me with that?

[2019-04-13 16:29] vmayoral commented on #48
https://github.com/ros2/tinydir_vendor and several other core ros2 packages had to be updated

[2019-04-13 16:32] LanderU commented on #48
This is a known issue. I'm going to fix it.

[2019-04-13 16:33] LanderU commented on #49
I'll have a look.

[2019-04-13 16:35] vmayoral commented on #48
This is just an intuition but I believe the error comes from geometry2 package. We should use https://github.com/AcutronicRobotics/geometry2/commits/ros2 instead.

[2019-04-13 18:48] LanderU commented on #48
Is not working for me. I'm still trying to fix it locally.

[2019-04-13 18:52] LanderU commented on #48
The errors are not the same.

[2019-04-13 19:19] LanderU commented on #48
Fixed locally.

[2019-04-13 19:22] vmayoral commented on #48
I’m still fighting with OS X, getting closer I think

El El sáb, 13 abr 2019 a las 21:19, Lander Usategui San Juan <
notifications@github.com> escribió:

[2019-04-13 19:25] LanderU commented on #48
rclcpp::NodeOptions node_options;

This issue is because you're using a wrong version of image_transport. Make sure that you're using crystal release.

[2019-04-13 19:26] LanderU commented on #48
We really need to fix the tests part of each package. The error that I'm having is related to linking a test.

[2019-04-13 19:48] LanderU commented on #49
Something was cached on the dockerHub web page. I've removed the build and I've generated a new one. Hope this fix the problem.

[2019-04-13 20:12] #49 closed

[2019-04-13 20:12] LanderU commented on #49
Fixed!

[2019-04-13 20:29] LanderU opened #50 "test_robot_model failed"
[code]

[2019-04-13 20:31] LanderU commented on #50
This issue is related to #48 I can fix it avoiding to compile the tests, but I prefer don't do this. @anasarrak please have a look.

[2019-04-13 20:50] vmayoral commented on #50
Connected to #13 @LanderU, I've been reviewing this for a while. No solution so far.

https://github.com/AcutronicRobotics/moveit2/commit/64ea5afe0ac108795a69b1ad29ccf64c9e101d19 enables what's requested but still failing.

[2019-04-13 20:54] LanderU commented on #50
https://travis-ci.org/AcutronicRobotics/moveit2/builds/519751376. I've updated the docker images for CI and looks like it fix the issue.

[2019-04-13 20:57] LanderU commented on #50
Tomorrow I'm going to do more tests and see if is fully fixed.

[2019-04-14 07:41] LanderU commented on #48
Master branch working again. https://travis-ci.org/AcutronicRobotics/moveit2/builds/519853092

[2019-04-14 07:41] #48 closed

[2019-04-14 07:42] LanderU commented on #50
It looks like the problem is fixed.

[2019-04-14 07:42] #50 closed

[2019-04-14 07:47] vmayoral commented on #13
Changed order  of added subdirectories and being tested:
- No (robot_model) tests enabled (**passed**): https://travis-ci.org/AcutronicRobotics/moveit2/builds/519855880
- tests enabled (**fails**): https://travis-ci.org/AcutronicRobotics/moveit2/builds/519868697

[2019-04-14 09:04] vmayoral commented on #48
@LanderU I just run the CI locally in OS X and obtaining the following:

[code]

[2019-04-14 09:07] LanderU commented on #48
In our master branch we've this package on the blacklist: https://github.com/AcutronicRobotics/moveit2/blob/master/.travis.yml#L22

[2019-04-14 09:10] vmayoral commented on #48
got it, thanks

[2019-04-14 11:14] vmayoral commented on #13
Updated comment above, still failing. @dirk-thomas I've prepared a branch that allows to reproduce the issue locally through a docker container. Find below the instructions:

[code]

making sure the Docker VMs have enough memory result into something like:

[code]

[2019-04-14 11:16] vmayoral commented on #13
I didn't investigate it much but on a quick look, it seems that I can see the missing symbols in the local `libmoveit_test_utils` library when inspecting manually.

[code]

[2019-04-16 00:16] mlautman commented on #13
I am having trouble reproducing your results. The way that you have set up the docker-entrypoint.sh makes it really hard to iterate without rebuilding the entire workspace from scratch each time (approx 10 min)

Looking at that error, the problem might be that `moveit_test_utils` only gets built if you are building the tests. (https://github.com/AcutronicRobotics/moveit2/blob/1bc57d0aabf23deedca07

[2019-04-16 00:22] mlautman commented on #13
You may want to look into using an overlay to avoid building dependencies each time

[2019-04-16 00:40] mlautman commented on #13
I have been trying to debug the issue but there seem to be quite a few issues with that branch which make the build fail. Namely including header files from srdfdom and random_numbers.h are both failing.  I also tried building master but it has the same issue.

[2019-04-16 11:35] anasarrak commented on #13
@mlautman Taking into account that you only want to compile moveit_core, just by using ```colcon build --merge-install --packages-select moveit_core``` should work.

Which kind of errors?

[2019-04-16 18:51] mlautman commented on #13
@anasarrak, The build command is in the docker_entrypoint.sh file so anytime you do `docker run -it ....` it builds the entire project. This could be avoided by having an underlay that is built in the Dockerfile but this is not the most pressing issue

[2019-04-16 18:51] mlautman commented on #13
This is the error I get:
[code]

[2019-04-16 18:52] mlautman commented on #13
I get this error building both locally and in the docker container

[2019-04-16 19:18] vmayoral commented on #13
@mlautman, thanks for the help. I'm unable to reproduce your error. Instead,  following [the instructions provided above](https://github.com/AcutronicRobotics/moveit2/issues/13#issuecomment-482950340) I get https://gist.github.com/vmayoral/2f2355a3b8cdb242f010a9f6906fe1fd. Just tested now.

If you wish to debug the environment, simply comment https://github.com/AcutronicRobotics/moveit2/blob/robot

[2019-04-17 16:26] dirk-thomas commented on #13
I can't reproduce the problem with the current steps but see various other problems and unfortunately don't have the bandwidth to iterate on the build process itself.

I would suggest to double check with `VERBOSE=1` if it is actually trying to link against the library where you found the symbol in.

[2019-04-19 10:05] anasarrak commented on #13
Reproducing the robot model test, I'm having the same errors as @vmayoral
[code]

About the error that you have @mlautman I've just created a clean docker with ros2 crystal and I didn't have any issue with any of the dependencies.

Using these repos https://github.com/AcutronicRobotics/moveit2/blob/master/moveit2.repos you should be able to build them without problem...

[2019-04-19 10:24] anasarrak commented on #13
Updating the robot_model/CMakelist and leaving it as https://github.com/ros-planning/moveit/blob/7fdc7f35f763c5e6784b5a72665188b2426fc009/moveit_core/robot_model/CMakeLists.txt#L25 the errors has changed to:

[code]

[2019-05-04 15:14] LanderU opened #63 "rosdep not working properly"
Issue on ros-infrastructure: https://github.com/ros-infrastructure/rosdep/issues/677

[2019-05-04 15:42] vmayoral commented on #63
Thanks for reporting @LanderU

[2019-05-07 07:02] LanderU commented on #63
These commits should fix the issue:

* https://github.com/AcutronicRobotics/moveit_ci/commit/d403158394a68be06e01cbb7b4ea20c8cb7a64b7
* https://github.com/AcutronicRobotics/moveit_ci/commit/ebcc93ba7e768fc304401b243eebcfb9f51e5af6

[2019-05-07 07:41] ahcorde commented on #63
Thanks @LanderU

[2019-05-07 07:41] #63 closed

[2019-05-11 19:24] LanderU opened #68 "Prepare for dashing release"
First draft for Linux is ready on: https://github.com/AcutronicRobotics/moveit2/tree/prepare-dashing-ci. Docker images ready on docker hub: https://hub.docker.com/r/acutronicrobotics/moveit2/tags, Dockerfile needs more work.

Travis (fails): https://travis-ci.org/AcutronicRobotics/moveit2/builds/531219244

[2019-05-13 19:01] vmayoral opened #69 "Unit tests failing in OS X"
@ahcorde reproduced your work in OS X (`fixing-test-ompl`) and got:

[code]

[2019-05-15 14:49] vmayoral commented on #13
Fixed by https://github.com/AcutronicRobotics/moveit2/pull/71

[2019-05-15 14:49] #13 closed

[2019-05-15 14:49] vmayoral commented on #13
Thanks everyone that contributed. Specially @dirk-thomas and @mlautman. Credit to @ahcorde and @anasarrak.

[2019-05-16 22:54] vmayoral commented on #69
https://github.com/AcutronicRobotics/moveit2/commit/7ddbf29cd848c2e13d35fe913b53cdb2020e7701 fixes these issues

[2019-05-16 22:54] #69 closed

[2019-05-16 22:55] vmayoral opened #76 "CI for Dashing"
Together with https://github.com/AcutronicRobotics/moveit2/issues/68, can we try and address the CI @ahcorde and @anasarrak?

[2019-05-17 06:33] LanderU commented on #76
I've plan to do it over the weekend.

[2019-05-17 09:41] vmayoral commented on #76
Great, thanks

El El vie, 17 may 2019 a las 8:33, Lander Usategui San Juan <
notifications@github.com> escribió:

[2019-05-18 18:23] LanderU opened #78 "Unable to generate actions headers"
I'm getting the following errors:

[code]

We faced similar issue with HRIM. I'm going to have a look there for a solution.

[2019-05-18 18:44] ahcorde commented on #78
We need to compile this package https://github.com/ros-controls/control_msgs/tree/crystal-devel

[2019-05-19 08:52] LanderU opened #79 "Unable to compile tf2_ros dashing"
[code]

[2019-05-19 08:58] LanderU commented on #78
I cannot advance as desired, some of the code included in master has dashing stuff and the CI is trying to compile against crystal. I've fixed the problem with the headers using the repo described above.

[2019-05-19 08:58] #78 closed

[2019-05-19 15:45] vmayoral opened #80 "WrappedResult issue"
Connected to https://github.com/AcutronicRobotics/moveit2/issues/78, I'm getting the following error when compiling in OS X `moveit_simple_controller_manager`:

[code]

[2019-05-19 15:46] vmayoral commented on #78
Fixed by https://github.com/AcutronicRobotics/moveit2/commit/ab753f97d05670c362e638529e53b0cc786eccab

[2019-05-20 19:09] LanderU commented on #79
Solved using the pre-installed version.

[2019-05-20 19:09] #79 closed

[2019-05-20 19:10] LanderU commented on #76
Finally I'm been able to compile the dependencies for moveit2! for dashing. We need to rework part of the things. Also, the branches on moveit2.repos are not well set. WIP!

[2019-05-20 19:14] ahcorde commented on #79
This preinstalled version should not be enough

[2019-05-20 19:20] LanderU commented on #79
I'm reworking the current Docker image to be able to compile the current master against dashing. We should have a look in our port, the status of this certain package.

[2019-05-20 22:59] davetcoleman opened #81 "How to build AcutronicRobotics/moveit2"
How does one build this repo? No one at PickNik has ever been able to compile any version of moveit2. I'm trying to dig into why, and its not clear to me where to start.

Looking at the README of this repo, almost every section says deprecated:

The only section that may work is to run locally moveit_ci and the Travis script? This is not the purpose of Travis...

[2019-05-21 14:42] vmayoral commented on #81
Well, I'm sorry for that @davetcoleman. Frankly, I haven't seen a single issue _describing_ specific issues from you or your team members. We'd be happy to help you get up to speed if you share your particular issues about compiling moveit2. Feel free to share them here please.

I take there's room for improvement, indeed and one could say that at this point some basic knowhow of ROS 2 is required

[2019-05-21 16:18] ahcorde commented on #81
Hello @davetcoleman ,

I have created a new branch called `master_compile` that I think you will be able to compile it. I ignored some of the packages that create some issues and updated some dependencies.

# Instructions

## Install  ros2 dashing pre-release

Follow [this](https://discourse.ros.org/t/ros-2-dashing-diademata-call-for-testing-and-package-releases/8819) to install ros2 dashing pre-r

[2019-05-21 20:48] davetcoleman commented on #81
@ahcorde thanks for those build from source notes, they worked for me! Can you update the README to reflect this latest approach? What's keeping the master branch from building like this special branch does?

Note after installing ROS 2, I still had to install these packages before I could build the rest of the repo:

I think the install instructions should reflect this.

This is a specific issue

[2019-05-21 21:19] vmayoral commented on #81
Mmmm that sounds odd, I took them from the README. Particularly from https://github.com/AcutronicRobotics/moveit2#using-a-docker-container-deprecated.

I think this is a valid criticism. The intention is indeed to respect good practices. The transition to Dashing and the global changes required for fixing unit tests have made us twist things quite a bit i think.

For what I can see, CI broke 6 day

[2019-05-21 21:19] #81 closed

[2019-05-21 23:20] davetcoleman commented on #81
I think our definition of "deprecated" is different. When I see deprecated, I read it to mean "do not use" and "probably does not work". We need build instructions that are not deprecated if we want the community to trust this code.

[This is not true](https://github.com/AcutronicRobotics/moveit2/pulls?utf8=%E2%9C%93&q=is%3Apr+is%3Aclosed+is%3Amerged), many of the merged PRs going back for months

[2019-05-22 08:22] vmayoral commented on #81
That's right, many failed and we still accepted them to move forward faster. Specifically, for the latest PRs. We should improve this but I still hold my last point with regard Dashing.

I will also point out that there has been historical efforts to comply with good practices. See https://github.com/AcutronicRobotics/moveit2/pull/60, https://github.com/AcutronicRobotics/moveit2/pull/58 or https:/

[2019-05-23 01:55] LanderU opened #84 "moveit_core test failures"
[code]

After re-enable CI for dashing, I'm getting the following test errors.

@anasarrak, could you please have a look?

[2019-05-23 09:50] vmayoral commented on #76
@LanderU and @ahcorde I can see things are building now. Can we close this issue then?

[2019-05-23 09:50] LanderU commented on #76
Sure!

[2019-05-23 09:50] #76 closed

[2019-05-23 09:51] #68 closed

[2019-05-23 20:01] vmayoral opened #90 "CI broken again and instructions from source incomplete"
@ahcorde can we please review CI once again and also the instructions. As it is, README is a bit confusing. Maybe remove the Install section from `Progress`?

[2019-05-24 08:12] LanderU commented on #90
The CI is working fine again. https://travis-ci.org/AcutronicRobotics/moveit2/builds/536651749

[2019-05-24 08:14] #90 closed

[2019-05-24 15:20] anasarrak commented on #84
I've managed to solve some of the test errors, the problem was the moveit_resources cmakelist, the path where it was including them was incorrect. I've made a [PR](https://github.com/AcutronicRobotics/moveit_resources/pull/1) that solves the path, and now most of them works.

With the remaining tests, some of them are fixed manually and the others when running `` colcon test_result `` we can see t

[2019-05-29 01:06] mlautman opened #93 "Errors while installing moveit2 from source"
When I tried to build the `master_compile` branch from source using the README instructions, I am seeing a number of issues.

1. The distinction between the `master` branch and `master_compile` branch is unclear. Before announcing the progress, it is very important that users are able to reliably work of a `master` branch

2. running `rosdep install -y --from-paths src --ignore-src --rosdistro ${R

[2019-05-29 07:02] LanderU commented on #93
+1, we'll update the README.md to clarify this point.

You're right this package is failing when you try to install using `rosdep`. You need to install `libompl-dev` using apt. We need to reflect this on the README.md as well.

We'll review the current status of the README.md to clarify all of this points. Thanks for your feedback!

[2019-05-29 07:23] vmayoral commented on #93
Thanks for reporting @mlautman, @LanderU once fixed, can we refer in here to the commit that addresses the issues raised here please?

@mlautman, based on our experience, rosdep is discouraged at this point (@LanderU, correct me if I'm wrong). AFAIK, we've done a reasonable amount of work to try to fix deps that way but more effort is required. @mlautman feel free to jump in and help with rosdep i

[2019-05-29 20:36] mlautman commented on #93
@vmayoral I don't understand this viewpoint. ROS2 uses rosdep extensively. Why wouldn't we use it here as well? Explicitly installing dependencies with apt is a short-term patch that doesn't actually achieve our goals for MoveIt 2. When we go to release a Debian package we will need to use rosdep. We might as well do things the right way now.

What has been tried? In order to use rosdep with ompl,

[2019-05-30 21:21] davetcoleman commented on #93
I had this same issue. I've made some suggestions:

https://github.com/AcutronicRobotics/moveit2/pull/95

[2019-05-30 22:01] mlautman commented on #93
On second thought, if you are able to successfully build against `libompl-dev` we don't need to release ompl with bloom. I opened a [PR to ros/distro](https://github.com/ros/rosdistro/compare/master...mlautman:patch-2) that will enable us to install `libompl-dev` using the `libompl-dev` key in package.xml

[2019-06-03 15:01] mlanting opened #100 "Errors when running ubuntu-install.sh"
### Description

Following the instructions given here: https://acutronicrobotics.com/docs/products/robots/mara/moveit2/install/ubuntu, the build phase fails with a number of errors having to do with types or functions in rclcpp not being found (see attachment for full build output), such as rclcpp::QoS.

### Your environment
ROS Distro: Crystal (installed by the script itself)
OS Version: Ubuntu

[2019-06-03 15:14] LanderU commented on #100
Hello @mlanting, sorry, the script uses crystal release of ROS 2, and the code was changed to be compliant with dashing. We'll fix this issue and update the ubuntu-install.sh script to be compliant with the new release. On the other hand, you can use the instructions available on the README.md in the section install and test options --> Build From Source.

Thanks for reporting!

[2019-06-03 15:49] vmayoral commented on #100
That’s right. Install from that script is deprecated.

Refer to the build from source section.

[2019-06-03 18:15] mlanting commented on #100
Thanks for the response. I'll take a look at the instructions there then.

[2019-06-03 18:15] #100 closed

[2019-06-05 19:08] mlanting opened #104 "Build error: Package 'moveit_core' exports the library 'moveit_exceptions' which couldn't be found"
### Description

I'm getting build errors when building from source according to the instructions found here: https://github.com/acutronicrobotics/moveit2#build-from-source

### Your environment
* ROS Distro: Dashing (master branch)
* OS Version: Ubuntu 18.04
* Source build from master branch

### Steps to reproduce
1. Create a new ros2 workspace (~/ros2_ws) and install Dashing from source accordi

[2019-06-06 05:03] LanderU commented on #104
Did you've downloaded the external dependencies using `vcs import src < src/moveit2/moveit2.repos` on you workspace?

[2019-06-06 06:21] LanderU commented on #104
Sorry I didn't read well, I'll have a look, thanks for reporting!

[2019-06-06 06:34] anasarrak commented on #104
Thanks for reporting @mlanting, but I'm not able to reproduce your problem. Have you tried just by compling with ``colcon build --merge-install --cmake-args -DBUILD_TESTING=FALSE`` without the _--symlink-install_?

[2019-06-06 14:12] mlanting commented on #104
@anasarrak Yes, I see the same error without --symlink-install

[2019-06-06 15:31] pjreed commented on #104
I see the same message, but mine is just a `CMake Warning` rather than a `CMake Error`, and so this build passes:
[code]

Is there perhaps something in the environment that could be causing CMake to treat that warning as an error?

For reference, my environment is:

Ubuntu: 18.04.2
cmake: 3.10.2-1ubuntu2
python3-colcon-ros: 0.3.10-1
python3-colcon-cmake: 0.2.11-1

And my `moveit2` repo is on commi

[2019-06-06 16:27] LanderU commented on #104
I'm trying to reproduce the issue. I'm using a docker container and the latest master version and works without problems.

Commit: fb0e4951f70ef126547ca7b4882e78223d5c25c6

[2019-06-08 10:02] vmayoral opened #106 "OS X build issue: ld: library not found for -lassimp"
`geometric_shapes` fails in OS X when compiling from source. Issue seems to be that it does not find assimp.

[2019-06-08 10:02] vmayoral commented on #106
Fixed by:
[code]

[2019-06-08 10:03] #106 closed

[2019-06-08 10:09] vmayoral opened #107 "OS X, control_msgs fails for OpenSplice"
In file included from /Users/victor/ros2_moveit_ws/build/control_msgs/rosidl_typesupport_opensplice_cpp/control_msgs/action/dds_opensplice/gripper_command__type_support.cpp:19:
In file included from /Users/victor/ros2_moveit_ws/build/control_msgs/rosidl_typesupport_opensplice_cpp/control_msgs/action/gripper_command__rosidl_typesupport_opensplice_cpp.hpp:10:
In file included from /Users/victor/ros2

[2019-06-08 10:13] vmayoral commented on #107
Note that I'm sourcing `release.com` as indicated at https://index.ros.org/doc/ros2/Installation/Crystal/OSX-Install-Binary/#enable-opensplice-support

[2019-06-08 10:24] ahcorde commented on #107
This Issue is reported here  https://github.com/ADLINK-IST/opensplice/issues/92

[2019-06-08 10:48] vmayoral commented on #107
Thanks a lot!

El El sáb, 8 jun 2019 a las 12:24, Alejandro Hernández Cordero <
notifications@github.com> escribió:

[2019-06-09 16:11] vmayoral opened #109 "moveit_ros_planning clang linking issue"
### Description

Linking issue when compiling `moveit_ros_planning` in OS X

### Your environment
* ROS Distro: Dashing
* OS Version: OS X 10.14
* Source

### Steps to reproduce
[code]

[2019-06-09 18:08] vmayoral commented on #109
Fixed by e05e309387fd3736df0fdb07a63d2a00036c85f2, 64904bea214e62e0a45b7ee86c219f6d75da8266 and ed7b0af6b045dfcbe1893fdbe457e94fe55febef

There're some aspects here that deserve a closer look. E.g. https://github.com/AcutronicRobotics/moveit2/commit/64904bea214e62e0a45b7ee86c219f6d75da8266 seems to be happening over and over across different packages. Seems like the `ament_target_dependencies` mac

[2019-06-09 18:08] #109 closed

[2019-06-09 20:04] vmayoral opened #110 "moveit_ros_move_group linking issues in OS X"
### Description

clear_octomap_service_capability.cpp has linking issues as follows:
[code]

[2019-06-09 20:06] vmayoral commented on #110
Note that https://github.com/AcutronicRobotics/moveit2/commit/76779cbc49ad6008a6cb2af3444084bf261c70ff doesn't fix this issue.

https://github.com/AcutronicRobotics/moveit2/commit/76779cbc49ad6008a6cb2af3444084bf261c70ff#diff-dd7dfc1cf58d83ff2910b0f4fa1702beR63 is redundant. Something's missing here.

[2019-06-11 19:07] mlanting commented on #104
After working with @pjreed on this, the issue seems to be related to how some of the dependencies are installed. Trying from a fresh Docker image, and using a binary install of Dashing (ros-dashing-desktop) instead of a source install, there were unmet dependencies.

On my machine I had initially started trying to get the Mara example [here](https://github.com/AcutronicRobotics/MARA#install) to ru

[2019-06-11 21:07] vmayoral commented on #93
@LanderU can we close this issue?

[2019-06-11 21:26] vmayoral opened #111 "Issues building tf2_geometry_msgs"
### Description

Overview of your issue here.

### Your environment
* ROS Distro: Dashing
* OS Version: Ubuntu 18.04.2 LTS
* Source build

### Steps to reproduce
When building the moveit2 ws from source:

[code]

Is this due to the fact that Dashing ROS 2 installation has issues with `geometry2`?

[2019-06-12 06:28] #93 closed

[2019-06-12 06:32] LanderU commented on #111
We need to update the instructions. On GNU/Linux we only need to compile tf2_kdl the rest of the packages are already installed via `apt` or `rosdep`.

[2019-06-12 06:39] LanderU commented on #104
Interesting, we've problems with packages as well depending on which installation we've used. We definitively need to have a look into it. In order to build the image in our CI we are using the oficial docker image: https://github.com/AcutronicRobotics/moveit2/blob/master/.docker/ci/Dockerfile#L1 and then install the dependencies using rosdep.

[2019-06-12 08:43] vmayoral commented on #111
Related to https://github.com/ros2/geometry2/issues/116. A fix is currently being applied in the CI (credit to @LanderU) https://github.com/AcutronicRobotics/moveit_ci/blob/dashing/travis.sh#L174-L175 that fetches this package directly from the sources and compiles it.

[2019-06-12 11:25] vmayoral opened #112 "Issues building moveit2 with --"
### Description

There seems to be a problem with the existing codebase of moveit2 when built with `--symlink-install` (fails to build) versus when built with `--merge-install`.

### Your environment
* ROS Distro: Dashing
* OS Version: OS X 10.14 (validated as well with Ubuntu 18.04)
* Source

### Steps to reproduce
#### `--merge-install`
[code]

#### `--symlink-install`
[code]

[2019-06-13 13:23] mlanting commented on #104
I spent yesterday looking into this to see if I could identify which library/libraries were causing the issue, and now i'm not so sure it has to do with library installation after all...

I don't really have concrete leads since every time I think i've found a predictable pattern of behavior, I run into a counter-example, but my best guess at this point is that @anasarrak was on the right track wi

[2019-06-13 14:35] mlanting commented on #112
This might be related to what I was running into with issue [#104](https://github.com/AcutronicRobotics/moveit2/issues/104). Granted, the errors I've been seeing were different, but I had been using --merge-install and --symlink-install at the same time.

[2019-06-15 05:38] LanderU commented on #111
https://github.com/AcutronicRobotics/moveit2/pull/116

[2019-06-15 05:51] vmayoral commented on #111
Shall we close this then?

El El sáb, 15 jun 2019 a las 7:38, Lander Usategui San Juan <
notifications@github.com> escribió:

[2019-06-15 05:58] #111 closed

[2019-06-15 06:26] LanderU opened #117 "Remove unnecessary repos from moveit2.repos"

[2019-06-15 06:27] LanderU opened #118 "Alphabetical order moveit2.repos"

[2019-06-15 08:59] #118 closed

[2019-06-16 07:03] #117 closed

[2019-06-19 15:59] mlanting commented on #104
I don't know cmake very well yet, but I've tracked the error to this file where the error message actually comes from: https://github.com/ament/ament_cmake/commit/cd1236ce3de298b3bd1b7d1dd5aa4c3b376d9944#diff-29cbd162a3d3eda7d0757592dc624333

For some reason the --symlink-install, in this case, causes it to go down a different branch than without --symlink-install, and at some point the --symlink-

[2019-07-05 16:05] kazuki0824 commented on #112
I think it's probably been fixed perfect in #125 .

[2019-07-08 09:18] anasarrak commented on #112
There are some issues on my case, I'll try to fix them

[code]

[2019-07-08 10:49] anasarrak commented on #112
For some reason moveit_core is not exporting correctly the libraries

[code]

[2019-07-08 10:58] anasarrak commented on #112
With **--merge-install** compiles without problems